<div id="admin-zone">
<h1 id="top-title">{{adminPageUserManagementTitle}}</h1><br/>
<input id="admin-disconnect" type="button" value="{{deconnectionButtonLabel}}">
<div class="adminInfo">{{{adminPageUserManagInfos}}}</div>

<div id="service-configuration">
	<input id="open-service-configuration" type='button' value="{{serviceConfigurationButtonLabel}}">
</div>

<div id="user-management"></div>

<div id="product-management"></div>

<div id="order-management"></div>

<a href="#top-title" id="back-to-top" title="Back to Top">
</div>			
