<div id="cartContent">
	<span class="cart-number-title">{{number}}</span> <h1> {{labels.cartTitle}}</h1>
	<table id="cartInfoTable">
	<tr>
		<td>{{labels.picturesNumberLabel}}</td>
		<td id="nbTotal">{{number}}</td>
	</tr>
	<tr>
		<td>{{labels.totalPriceLabel}}</td>
		<td id="totalPrice">{{price}}</td>
	</tr>
</table>
</div>
<div id="cartButtons">
	<button id="reset-cart"><i class="icon-trash"></i>&nbsp;{{labels.resetcartbutton}}</button><br/>
	<button id="view-cart"><i class="icon-shopping-cart"></i>&nbsp;{{labels.viewcartbutton}}</button>
</div>