<div id="private-gallery">
	<div>
		<h1>{{userDescription}}</h1>
	</div>
	
	<div>
		<input id="private-disconnect" type="button" value="{{labels.disconnectButtonLabel}}">
	</div>
	
	<div>
		<h2>{{labels.galleryTitle}}</h2>
	</div>
	
	<div class="selectioninfos">{{{userLongDescription}}}</div> 
				
	<div class="downloadAllButton">
		<a id="private-downloadButton" type="button" download>{{labels.downloadAllButtonLabel}}</a>
	</div>
	
	<div id="gallery-products"></div>
	
	<div id="gallery-directories"></div>
	
	<div id="gallery-search"></div>
	
	<div id="gallery-pictures">
		<h2 id="pictures-list-title">{{labels.pictures.title}}</h2>
	</div>
</div>